# Eclipse specific files and folders
.classpath
.project
.settings

# target files and folders
target

# Log-Files
.log
/bin/

#IntelliJ
*.iml
.idea/

#protos
#educoins-core/src/main/java/org/educoins/core/p2p/messages/*